.location-finder-container {
    background-color: rgba(240,240,240,1);
}


.search-recent-item {
    * {
        color: #999
    }
}

.search-box {
    input, button {
        font-size: 18px;
    }
}

.loader-container {
    em {
        color: #999
    }
}


