.location-finder-container {
    background-color: rgba(240,240,240,1);
}


.search-recent-item {
    * {
        color: #999
    }
}

.search-box {
    input, button {
        font-size: 18px;
    }
}

.loader-container {
    em {
        color: #999
    }
}
.leaflet-container {
    width: 100%;
    height: 100%;
    background-color: rgba(240,240,240,1);}






.location-card { 
    background-color: white;
    transition: all .2s ease-in-out; 
}
    
.location-card:hover { 
    transform: scale(1.02); 
}
.location-card:active { 
    opacity: 0.8;
    background-color: rgba(12,109,253, 0.3);
    
}

.helper-image {
    width: 200
}